@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body {
  font-family: sans-serif;
}

.wrapper{
  max-width: 1280px;
  min-width: 50%;
  margin: 0 auto;
}

.header{
  height: 64px;
  border-bottom: 2px solid #97cdf3;
}

.top-content{
  height: 128px;
  margin: 0 auto;
  text-align: center;
  color: #e6f0f0;
  background-color: #7acbe1;
}

.footer{
  height: 128px;
  text-align: center;
  border:2px solid #e6f0f0;
}