@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.body {
  font-family: sans-serif;
  /*margin: 0;
  padding: 0;*/
}
.header {
  background-color: white;
  padding: 0 .5em;
}
.footer {
  background-color: white;
  padding: 0 .5em;
}
.wrapper{
  max-width: 1024px;
  margin: 0 auto;
}
.profile-content {
  display: flex;
  justify-content: space-between;
}
.activate{
  margin: 0 auto;
  padding: 8px;
  border: 1px solid black;
}
