@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body {
  font-family: sans-serif;
}

.header{
  height: 64px;
}

.main{
  max-width: 1024px;
  margin: 0 auto;
}
.main-content{
  display: flex;
  max-width: 1024px;
  border-top: 2px solid #97cdf3;
  border-bottom: 2px solid #97cdf3;
}

.content-area{
  width: 75%;
  height: 640px;
}
.top-content{
  height: 30%;
  text-align: center;
  color: #e6f0f0;
  background-color: #7acbe1;
}
.top-message{
  font-size: 32px;
}
.content{
  display: flex;
  flex-direction: column;
  text-align: center;
  border:2px solid black;
}

.profile{
  width: 25%;
  margin: auto;
}

.link-site{
  display: inline-block;
  justify-content: center;
  font-size: 32px;
}

.footer{
  margin-top: 16px;
  padding: 32px;
  text-align: center;
  border:2px solid #e6f0f0;
}